@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pirata+One&display=swap');
*{
	font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;

  
}
